{% include 'layout.html' %}

<div class="container">
    <div class="card">
        <div class="card-header">
            Let's edit your password!
        </div>
        <div class="card-body">
            {% if msg %}
            {% if msg == 'Password updated' %}
            <div class="alert alert-success" role="alert">
                {{msg}}
            </div>
            {% else %}
            <div class="alert alert-danger" role="alert">
                {{msg}}
            </div>
            {% endif %}
            {% endif %}

            <form action="/users/change-password" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Verify Old Password</label>
                        <input class="form-control" name="password" required type="password">
                    </div>
                    <div class="form-group col-md-6">
                        <label>New Password</label>
                        <input class="form-control" name="password2" required type="password">
                    </div>
                    <button class="btn btn-primary" type="submit">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>